<div id="content-copy" class="span-16 pull-1 last">
  <h2>Sitemap</h2>
  <ul>
    <li><%= link_to "Getpassportphotos.com HOME page", "/" %></li>
    <li><%= link_to "Why use our service?", about_path %></li>
    <li><%= link_to "Instructions for taking perfect passport photos", howto_path %></li>
    <li><%= link_to "Contact information", contact_path %></li>
    <li><%= link_to "Privacy Policy", privacy_path %></li>
  </ul>
</div>

