<div id="footer" class="span-16 last">
  <ul class="prepend-1">
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Why use us?", "/why-use-our-passport-photos-service" %></li>
    <li><%= link_to "Photo Instructions", "/instructions-for-taking-passport-photos" %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Privacy", "/privacy" %></li>
    <li id="twitter-small"><a href="http://twitter.com/getpssprtphotos" target="_blank"><img alt="Twitter" src="/images/twittersmall.png" /></a></li>
    <li><fb:like href="http://www.facebook.com/pages/GetPassportPhotoscom/201382773224772" layout="button_count" show_faces="false" width="55" font="tahoma"></fb:like></li>
  </ul>
</div>
<div id="fb-root"></div>

<script>
 window.fbAsyncInit = function() {
     FB.init({
       status : true, // check login status
       cookie : true, // enable cookies to allow the server to access the session
       xfbml  : true,  // parse XFBML
       channelUrl  : <%= '\''+ request.protocol + request.host_with_port + root_path + 'channel.html' + '\'' %> // custom channel
     });
  };

   (function() {
     var e = document.createElement('script');
     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
     e.async = true;
     document.getElementById('fb-root').appendChild(e);
  }());
</script>

