<ul id="footer" class="clear">
  <li><%= link_to "Why use us?", "/why-use-our-service" %></li>
  <li><%= link_to "Instructions", "/instructions-for-taking-passport-photos" %></li>
  <li><%= link_to "Support", contact_path %></li>
  <li><%= link_to "Twitter", "http://twitter.com/#!/getpssprtphotos" %></li>
  <li><%= link_to "Facebook", "http://facebook.com/getpassportphotos" %></li>
</ul>