<div id="footer" class="span-16 last">
  <ul class="prepend-1">
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Why use us?", "/why-use-our-passport-photos-service" %></li>
    <li><%= link_to "Instructions", "/instructions-for-taking-passport-photos" %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Privacy", "/privacy" %></li>
    <li id="twitter-small"><a href="http://twitter.com/getpssprtphotos"><img alt="Twitter" src="/images/twittersmall.png" /></a></li>
    <!--<li><%= link_to "Facebook", "http://www.facebook.com/pages/GetPassportPhotoscom/201382773224772" %></li>-->
    <li><fb:like href="http://www.facebook.com/pages/GetPassportPhotoscom/201382773224772" layout="button_count" show_faces="false" width="55" font="tahoma"></fb:like></li>
  </ul>
</div>