<div id="footer" class="span-16 last">
  <ul>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Why use us?", "/why-use-our-passport-photos-service" %></li>
    <li><%= link_to "Instructions", "/instructions-for-taking-passport-photos" %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Privacy", "/privacy" %></li>
    <li><%= link_to "Twitter", "http://twitter.com/getpssprtphotos" %></li>
    <li><%= link_to "Facebook", "http://www.facebook.com/pages/GetPassportPhotoscom/201382773224772" %></li>
  </ul>
</div>