<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascript' %>
</head>
<body>
  <div id="container">
    <div id="wrapper" class="container">
      <%= render 'layouts/header' %>
    
      <%= yield %>
    
      <%= render 'layouts/footer' %>
    </div>
  </div>
  <%= render 'layouts/googleanalytics' %>  
</body>
</html>
